<h3>Current List</h3>
<br>
<div class="row">
    <div class="col-sm-25">
        <table class="table">
            <tr>
                <th>Address</th>
                <th>Severity</th>
                <th>Position</th>
                <th>Day</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <% @reports.each do |report| %>
                <tr>
                    <td><%= report.address %></td>
                    <td><%= report.severity %></td>
                    <td><%= report.position %></td>
                    <td><%= report.day %></td>
                    
                    <td></td>
                </tr>
            <% end -%>
        </table>
    </div>
</div>

<br>

<strong>Click the link to report: </strong>

<%= link_to 'New Report', new_report_path %>
